html {
  font-family: Helvetica, sans-serif;
  scroll-behavior: smooth;
}
body {
	background-color: #f5efff;
	margin: 0;
}
.banner {
	font-size: 40px;
	font-style: italic;
	font-family: "Helvetica";
	font-weight: 600;
	background-clip: text;
	background-image: linear-gradient(#3f37c9, #b5179e);
	color: transparent;
	-webkit-background-clip: text;
}

nav {
	position: sticky;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.logo{
	float: left;
}
.menul {
  overflow: hidden;
  background-color: #7371fc;
  width: 100%;
}	

.menu li {
	height: 60%;
  float: right;
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  font-size: 17px;
  transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.menu li::before,
.menu li::after {
  content: "";
  pointer-events: none;
  position: absolute;
}

.menu li::before,
.menu li:after {
  width: 80%;
  height: 80%;
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.075, 0.83, 0.165, 1);
  border: none;
  border-radius: 20px;
}

.menu li:hover:before {
  animation: animation 400ms ease forwards infinite;
  border: 1px solid white;
}

.menu li:hover:after {
  animation: animation 400ms 200ms ease forwards infinite;
  border: 1px solid white;
}

@keyframes animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}


section {
	margin-left: 20px;
}

aside {
	margin-left: 20px;
}

footer {
	margin-left: 20px;
}

#menuel{  
    display:inline-block;
    color:  white;
    align-content: left;
}

a{  
    display:block;  
    padding:10px;  
    color:white;  
    text-decoration:none;
}

.bannerimg {
	width: 192px;
	height: 240px;
	border-radius: 50%;
	float: right;
}

a {
	color: black;
}

#criteria {
  border-collapse: collapse;
  width: 100%;
}

#criteria td, #criteria th {
  border: 1px solid #ddd;
  padding: 8px;
}

#criteria tr:nth-child(even){background-color: #e5d9f2;}

#criteria tr:hover {background-color: #cdc1ff;}

#criteria th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #7371fc;
  color: white;
}

ul[target]{
	list-style-type: upper-hexadecimal;
}

#next:link {
	background-color: #cdc1ff;
  color: black;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

 #next:visited {
	background-color: #e5d9f2;
  color: 7371fc;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
 }

#next:hover {
	background-color: #a594f9;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
 }

#next:active {
	background-color: #7371fc;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
 }

.group_image {
	margin-top: 15px;
	width: 480px;
	height: 270px;
	border-radius: 20px;
}
